<p>Hi <%= @user.name %>,</p>

<p>
Welcome to BattleShift! Click here to activate your account:
</p>

<%= link_to "Activate Account", ENV["path"] + "/activate/#{@user.id}?key=#{@user.activation_digest}" %>

Below is your API key. Please keep this key in a secure location.

<%= @user.api_key %>
